

.body {
    padding: 0;
    margin: 0;
}





.header {
    background-color: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 15px;
    margin: 0px;
}

.main {
    background-color: beige;
}

.title {
    color: rgba(10, 14, 240, 0.938);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.menu-container {
    gap: 35px;
    display: flex;
    
}


.item-del-menu1 {
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-del-menu2 {
    color: rgb(214, 15, 15);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-del-menu3 {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.card-container {
    display: flex;
    gap: 32px;
    padding: 22px;
    justify-content: center;
    -ms-flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
}


.imagen{
    width: 270px;
    height: auto;
}


.card-item {
    gap: 10px;
    padding: 40px;
    
}


.card-title1 {
    color: blue;
    font-size: 28px;
}

.card-title2 {
    color: black;
    font-size: 28px;
}

.card-title3 {
    color: red;
    font-size: 28px;
}

.card-content{
    font-size: 28px;

}


.card-footer {
    color: rgb(231, 11, 11);
    font-size: 22px;
    margin-top: 22px;
}


.footer{
    background-color: rgba(0, 0, 0, 0.185);
    padding: 22px 0;
    margin-top: 40px;
}


.footer-container {
    max-width: 110px;
    margin: 0 auto;
    padding: 10 16px;
}